/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3edf7;
}

.wrapper {
  position: relative;
  width: 160px;
  height: 160px;
}

.wrapper .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /*   border: 1px solid red; */
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.wrapper .inner {
  width: 120px;
  height: 120px;
  /*   border: 1px solid red; */
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0 rgba(255, 255, 255, 1), 0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .inner .num {
  font-size: 20px;
  font-weight: 600;
  color: #112f81;
}

circle {
  fill: none;
  /* stroke: red; */
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    /*  stroke-dashoffset: 0; */
    stroke-dashoffset: 110; /* 440 - 440 * .75 */
  }
}
